@charset "UTF-8";

body {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentsWrap {
	flex-grow: 1;
	width: 1440px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
	background-color: #fff;
}

.loginArea {
	width: 440px;
	height: 570px;
	border: 2px solid #ADEFD1;
	border-radius: 10px;
	margin: 0 auto;
}
.loginTitle {
	width: 420px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	margin: 50px auto 0;
}
.loginInfoTitle {
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin: 30px 0 10px 50px;
}
.loginInfoInput {
	width: 340px;
	height: 50px;
	border: 1px solid #999;
	border-radius: 5px;
	margin: 0 50px;
	font-size: 15px;
	padding: 0 10px;
}
.loginInfoInput:focus {
	outline: 2px solid #ADEFD1;
	border: 1px solid #ADEFD1;
	cursor: text;
}
.memberLoginBtn {
	width: 340px;
	height: 50px;
	border-radius: 10px;
	background-color: #ADEFD1;
	font-weight: bold;
	font-size: 15px;
	margin: 40px 50px 10px 50px;
	transition: box-shadow 0.2s ease;
	cursor: pointer;
}
.memberLoginBtn:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.storeLoginBtn {
	width: 340px;
	height: 50px;
	border: 2px solid #ADEFD1;
	border-radius: 10px;
	background-color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin: 0 50px 10px;
	transition: box-shadow 0.2s ease;
	cursor: pointer;
}
.adminLoginBtn {
	width: 340px;
	height: 50px;
	border-radius: 10px;
	background-color: #00203F;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	margin: 0 50px 10px;
	transition: box-shadow 0.2s ease;
	cursor: pointer;
}
.storeLoginBtn:hover, .adminLoginBtn:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}


footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}