@charset "UTF-8";

body {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentsWrap {
	flex-grow: 1;
	width: 1440px;
	padding-top: 40px;
	padding-bottom: 50px;
	margin: 0 auto;
	background-color: #fff;
}

/*Title*/
.contentsTitle {
	width: 250px;
	height: 50px;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	margin-left: 90px;
}
.contentsLine {
	width: 1260px;
	height: 5px;
	background-color: #eee;
	margin: 10px auto;
}

/*Review*/
.contentsReviewArea {
	width: 1280px;
	height: auto;
	margin: 20px 0 0 90px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 20px;
}
.eachReviewTable {
	width: 620px;
	height: 200px;
	float: left;
	border: 2px solid #eee;
	border-radius: 10px;
}
.eachReviewImgTd {
	padding-left: 10px;
}
.eachReviewImgTd div {
	border-radius: 10px;
	width: 180px;
	height: 180px;
	overflow: hidden;
}
.eachReviewImgTd div img {
	height: 100%;
}
.eachReviewStoreProfileTd {
	padding-left: 10px;
}
.eachReviewStoreProfileTd img {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-right: 10px;
}
.eachReviewStoreProfileTd span {
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	border-radius: 15px;
}
.eachReviewStoreBtnTd a {
	display: block;
	width: 150px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	background-color: #ADEFD1;
	border-radius: 10px;
}
.eachReviewStoreBtnTd a:hover {
	background-color: #fff;
	border: 1px solid #ADEFD1;
	transition: background-color 0.2s ease, border 0.2s ease;
}
.eachReviewPayNumTd {
	padding-left: 10px;
}
.eachReviewPayNumTd span {
	display: block;
	float: left;
	width: 70px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #999;
}
.eachReviewPayNumTd button {
	display: block;
	width: 100px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	color: #999;
	text-decoration: underline;
}
.eachReviewMemberIdTd {
	padding-left: 10px;
	font-size: 15px;
	color: #999;
}
.eachReviewScoreTd img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}
.eachReviewScoreTd span {
	display: block;
	float: left;
	width: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
}
.eachReviewScoreTd span:nth-child(2) {
	margin-right: 10px;
}
.eachReviewContentsTd {
	font-size: 18px;
	padding: 0 0 10px 10px;
	line-height: 1.5;
	height: 50px;
}


.pageingArea {
	width: 150px;
	height: 20px;
	margin: 60px auto 40px;
}
.pageingArea a {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	text-align: center;
	line-height: 20px;
	color: #999999;
	margin: 0 5px;
}
.pageingArea a img {
	width: 20px;
	height: 20px;
}

/*Footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}

/*Modal*/
.finalOrderModalWrap {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 9;
	display: none;
}
.finalOrderModal {
	width: 700px;
	height:400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
	display: none;
}

.finalOrderModalLogo  {
	width: 62px;
	height: 20px;
	display: block;
	margin-right: 58px;
	float: left;
}
.modalMainTitle {
	width: 240px;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	float: left;
}
.finalOrderCodeTitle {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 12px;
}
.finalOrderCode {
	width: 180px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	background-color: #fff;
}

.modalContentsBox {
	width: 600px;
	height: 30px;
	margin-top: 10px;
	margin-left: 20px;
}
.modalContentsBigBox {
	width: 600px;
	height: 70px;
	margin-top: 10px;
	margin-left: 20px;
}
.marginmodalContentsBox {
	margin-top: 40px;
}
.modalContentsTitle {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	line-height: 30px;
	font-size: 12px;
}
.modalCategory {
	width: 150px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	background-color: #fff;
	color:222;
	float: left;
	margin-right: 20px;
}
.modalContentsInfo {
	width: 100px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	background-color: #fff;
	color:222;
	float: left;
}
.modalContentsLongInfo {
	width: 500px;
	height: 70px;
	font-size: 12px;
	border: 2px solid #ADEFD1;
	text-align: left;
	border-radius: 5px;
	background-color: #fff;
	color:222;
	float: left;
	padding: 5px;
	resize: none;
}
.orderCount {
	width: 30px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	float: left;
	margin: 0 80px 0 10px;
}

.modalCloseBtn {
	width: 200px;
	height: 30px;
	margin: 40px 220px;
	font-size: 15px;
	border-radius: 5px;
	background-color: #ADEFD1;
	float: left;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
}
.modalCloseBtn:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

/* Modal */
.finalOrderModalWrap {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.finalOrderModal {
	width: 700px;
	height:400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
	display: none;
}
