@charset "UTF-8";

body {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.storeInfoArea {
	position: relative;
	display: flex;
	width: 100%;
	height: 320px;
	margin: 0 auto;
	overflow: hidden;
}
.coverImg {
	position: absolute;
	display: flex;
	width: 100%;
	height: auto;
	transform: translateY(-50%);
}
.coverImgShadow {
	position: absolute;
	width: 100%;
	height: 320px;
	background-color: rgba(0, 0, 0, 0.5);
}
.storeProfileImg {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 50px;
}
.storeProfileImg img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 0 auto;
}
.storeName {
	position: absolute;
	top: 170px;
	width: 100%;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.storeText {
	position: absolute;
	bottom: 50px;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.contentsWrap {
	flex-grow: 1;
	width: 1440px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
	background-color: #fff;
}
.storeNotiArea {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 20px;
	width: 1260px;
	height: auto;
	margin: 0 90px;
}
.storeEachNoti {
	cursor:pointer;
	width: 1260px;
	height: 60px;
	display: block;
	border: 1px solid #ADEFD1;
	border-radius: 10px;
	padding: 0 20px;
	outline: 1px solid transparent;
	transition: outline 0.2s ease;
}
.storeEachNoti:hover {
	outline: 1px solid #ADEFD1;
}
.notiType {
	width: 120px;
	height: 60px;
	font-weight: bold;
	line-height: 60px;
	float: left;
}
.noticontent {
	width: 1060px;
	height: 60px;
	line-height: 60px;
	float: left;
}
.storeEachNoti img {
	width: 20px;
	height: 20px;
	margin: 20px 0 0 16px;
}
.mainTitle {
	width: 1260px;
	height: 50px;
	margin: 40px 0 0 90px;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
}
.mainLine {
	width: 1260px;
	height: 5px;
	background-color: #eee;
	margin: 10px 90px 40px;
}

.storeFeedArea {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 20px;
	column-gap: 20px;
	width: 1260px;
	height: auto;
	margin: 0 90px 40px;
}
.storeEachFeed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #eee;
	cursor: pointer;
	transition: transform 0.2s ease;
}
.storeEachFeed:hover {
    transform: scale(1.05);
}
.storeEachFeed img {
	max-height: 100%;
	width: auto;
	height: 100%;
	display: block;
	margin: auto;
	cursor: pointer;
}
.noneItemArea {
	width: 1260px;
	height: auto;
	margin: 100px 0 100px 0;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
}

.orderBtn {
	position:fixed;
	right: 5%;
	bottom: 5%;
	/* transform: translate(-50%, -50%);  */
	width: 70px;
	height: 70px;
	background-color: #ADEFD1;
	border-radius: 35px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	transition: width 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}
.orderBtn:hover {
	background-color: #fff;
	width: 200px;
	border: 2px solid #ADEFD1;
	font-weight: bold;
}

/*Footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}

/* Modal */
/* 주문하기 */
.customerOrderListModal {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.customerOrderListModalBody {
	width: 700px;
	height: 400px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
    position: absolute; top: 50%; left: 50%; z-index: 999;
    transform: translate(-50%, -50%);
    z-index: 999; 
	display: none;
}
/* 스토어피드 */
.customerFeedListModal {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.customeFeedListModalBody {
	width: 1000px;
	height: 500px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
    position: absolute; top: 50%; left: 50%; z-index: 999;
    transform: translate(-50%, -50%);
	display: none;
}
/* 공지사항 */
.customerinfoListModal {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.customeinfoListModalBody {
	width: 700px;
	height: 400px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
    position: absolute; top: 50%; left: 50%; z-index: 999;
    transform: translate(-50%, -50%);
	display: none;
}

