<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- Alias 설정 -->
	<typeAliases>

		<!-- 유승민 설정 부분 -->
		<typeAlias alias="customerMyPage" type="com.suje.domain.customer.MemberVO"/>
		<typeAlias alias="customerOrderList" type="com.suje.domain.customer.OrderListVO"/>
		<typeAlias alias="customerEtcList" type="com.suje.domain.customer.EtcVO"/>
		<typeAlias alias="customerFinalOrder" type="com.suje.domain.customer.FinalOrderVO"/>
		<typeAlias alias="customerPurchase" type="com.suje.domain.customer.PurchaseVO"/>
		<typeAlias alias="storeOrderList" type="com.suje.domain.storeOrder.StoreOrderListVO"/>	
		<typeAlias alias="categoryVO" type="com.suje.domain.category.CategoryVO"/>
		<typeAlias alias="fileTestUpload" type="com.suje.domain.customer.FileUploadTestVO"/>
	
		<!-- 장경희 설정 부분 -->
      <typeAlias alias="storeNotiInfo" type="com.suje.domain.storeAdmin.StoreNoticeVO" />
      <typeAlias alias="storeNotice" type="com.suje.domain.storeAdmin.StoreNoticeVO" />
      <typeAlias alias="fleaGoodsSU" type="com.suje.domain.fleaMarket.FleaGoodsVO" />
      <typeAlias alias="fleaGoodsInfo" type="com.suje.domain.fleaMarket.FleaGoodsVO" />

		<!-- 이수정 설정 부분 -->
		<typeAlias alias="customerCard" type="com.suje.domain.customer.CardVO"/>
		<typeAlias alias="customerAccount" type="com.suje.domain.customer.AccountVO" />
		<typeAlias alias="customerReview" type="com.suje.domain.customer.ReviewVO" />
		<typeAlias alias="customerQnA" type="com.suje.domain.customer.QnAVO" />
		<typeAlias alias="customerPay" type="com.suje.domain.customer.PayVO" />
		
		<!-- 김동현 설정 부분 -->
		<typeAlias alias="storeAccountInfo" type="com.suje.domain.storeAdmin.StoreAccountVO"/>
		<typeAlias alias="storeProfile" type="com.suje.domain.storeAdmin.StoreProfileVO"/>
		<typeAlias alias="storeGoodsSU" type="com.suje.domain.storeAdmin.StoreGoodsSUVO"/>
		<typeAlias alias="storeGoodsInfo" type="com.suje.domain.storeAdmin.StoreGoodsSUVO"/>
		<typeAlias alias="storeOrderCheck" type="com.suje.domain.storeOrder.StoreOrderCheckVO"/>
		<typeAlias alias="cancelOrder" type="com.suje.domain.storeOrder.StoreOrderCheckVO"/>
		<typeAlias alias="returnOrder" type="com.suje.domain.storeOrder.StoreOrderCheckVO"/>
		<typeAlias alias="storeFinalOrder" type="com.suje.domain.storeOrder.StoreOrderCheckVO"/>
		<typeAlias alias="storeDelivery" type="com.suje.domain.storeOrder.StoreOrderCheckVO"/>
		<typeAlias alias="storeCalculate" type="com.suje.domain.storeOrder.StoreCalculateVO"/>
		<typeAlias alias="fleaOrderCheck" type="com.suje.domain.storeOrder.FleaOrderCheckVO"/>
		<typeAlias alias="fleaDelivery" type="com.suje.domain.storeOrder.FleaOrderCheckVO"/>
		
		
		<!-- 최수빈 설정 부분 -->
		<typeAlias alias="mainLoginVO" type="com.suje.domain.main.MainLoginVO"/>
		<typeAlias alias="AdminManageVO" type="com.suje.domain.adminviews.AdminManageVO"/>
		<typeAlias alias="adminPntVO" type="com.suje.domain.adminviews.AdminPntVO"/>
		<typeAlias alias="mainVO" type="com.suje.domain.main.MainVO"/>
		<typeAlias alias="mainFleaMarketVO" type="com.suje.domain.main.MainFleaMarketVO"/>
		<typeAlias alias="mainCommVO" type="com.suje.domain.main.MainCommVO"/>
		<typeAlias alias="mainStoreCategoryVO" type="com.suje.domain.main.MainStoreCategoryVO"/>
		<typeAlias alias="storeEachVO" type="com.suje.domain.main.StoreEachVO"/>
		<typeAlias alias="mainPopularRankVO" type="com.suje.domain.main.MainPopularRankVO"/>
		<typeAlias alias="adminStaticsVO" type="com.suje.domain.adminviews.AdminStaticsVO"/>

		<!-- 이정석 설정 부분 -->
		<typeAlias alias="adminVO" type="com.suje.domain.adminviews.AdmininfoVO"/>
    	<typeAlias alias="adminQnAVO" type="com.suje.domain.adminviews.AdminQnAVO"/>
		<typeAlias alias="realtimeVO" type="com.suje.domain.main.MainRealTimeReviewVO"/>
		
	</typeAliases>


</configuration> 