@charset "UTF-8";

.header {
	background-color: #fff;
	width: 100%;
	height: 180px;
	position: fixed;
	top: 0px;
	z-index: 99;
}
.storeHeader, .adminHeader {
	background-color: #fff;
	width: 100%;
	height: 105px;
	position: fixed;
	top: 0px;
	z-index: 99;
}
.headerWrap {
	width: 100%;
	height: 180px;
}
.etcheaderWrap {
	width: 100%;
	height: 105px;
}
/**/
.firstHeaderNavi {
	background-color: #fff;
	width: 1440px;
	height: 100px;
	padding: 30px;
	margin: 0 auto;
}
.headerLogo, .headerLogo a, .headerLogo img {
	width: 125px;
	height: 40px;
	float: left;
}
/*beforeLogin*/
.beforeLoginArea {
	width: 480px;
	height: 40px;
	float: right;
}
.headerLoginBtn, .headerNewMemBtn {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-right: 40px;
}
.headerLoginBtn:hover, .headerNewMemBtn:hover {
	font-weight: bold;
	color: #ADEFD1;
}
.headerStoreNewMemBtn {
	width: 200px;
	height: 40px;
	background-color: #ADEFD1;
	border-radius: 10px;
	font-size: 15px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.headerStoreNewMemBtn:hover {
	border: 2px solid #ADEFD1;
	background-color: #fff;
	font-weight: bold;
	color: #ADEFD1;
}
.firstHeaderLine {
	width: 100%;
	height: 5px;
	background-color: #ADEFD1;
}
/*afterLogin*/
.afterLoginArea {
	width: 440px;
	height: 40px;
	float: right;
}
.headerId {
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: #222;
	background: #fff;
	text-align: right;
	float: left;
}
.afterLoginArea span {
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
.headerMypageBtn, .headerMypageBtn img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 40px;
	border-radius: 20px;
	transition: box-shadow 0.2s ease;
	object-fit: cover;
}
.headerMypageBtn:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
.headerLogoutBtn {
	width: 100px;
	height: 40px;
	display: block;
	line-height: 40px;
	text-align: center;
	float: left;
}
.headerLogoutBtn:hover {
	font-weight: bold;
	color: #ADEFD1;
}
/**/
.secondHeaderNavi {
	background-color: #fff;
	width: 1440px;
	height: 70px;
	padding: 20px 30px;
	margin: 0 auto;
}
.headerCategoryBtn {
	width: 170px;
	height: 30px;
	float: left;
}
.headerCategoryBtn img {
	width: 30px;
	height: 30px;
}
.headerCategoryBtn span {
	width: 120px;
	height: 30px;
	margin-left: 20px;
	cursor: pointer;
}
.headerRankingPageBtn, .headerReviewPageBtn, .headerCommunityPageBtn, .headerFleaMarketPageBtn {
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	margin-right: 30px;
}
.headerCategoryBtn:hover, .headerRankingPageBtn:hover, .headerReviewPageBtn:hover, .headerCommunityPageBtn:hover, .headerFleaMarketPageBtn:hover {
	font-weight: bold;
	color: #ADEFD1;
}
.headerRankingPageBtn {
	margin-left: 170px;
}
.secondHeaderLine {
	width: 100%;
	height: 5px;
	background-color: #EEEEEE;
}
/*SUB MENU*/
.headerSubMenu {
	width: 1442px;
	height: 400px;
	border-right: 2px solid #eee;
	background-color: #fff;
	position: fixed;
	top: 180px;
	left: 50%;
    transform: translateX(-50%);
	z-index: 99;
	display: none;
}
.headerSubMenu li {
	display: block;
	width: 1442px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
}
.headerFirstCategory>li>div {
	background-color: #eee;
	float:left;
	width: 290px;
	font-weight: bold;
}
.headerSecondCategory {
	border-bottom: 2px solid #eee;
	display: block;
	width: 1150px;
	height: 50px;
	float: left;
}
.headerSecondCategory li {
	width: 230px;
}
.headerSecondCategory li:hover {
	font-weight: bold;
	border-bottom: 6px solid #eee;
}

/*STORE 전용 MENU*/
.storeHeaderLogo, .storeHeaderLogo a, .storeHeaderLogo img {
	width: 200px;
	height: 40px;
	float: left;
}
.storeHeaderLogo {
	margin-right: 140px;
}
.storeHeaderCommunityPageBtn, .storeHeaderFleaMarketPageBtn {
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-right: 50px;
}
.storeHeaderCommunityPageBtn:hover, .storeHeaderFleaMarketPageBtn:hover {
	font-weight: bold;
	color: #ADEFD1;
}

/*ADMIN 전용 MENU*/
.adminHeaderLogo, .adminHeaderLogo a, .adminHeaderLogo img {
	width: 200px;
	height: 40px;
	float: left;
}