@charset "UTF-8";

/*SUB MENU FORM*/

body {
	background-image: url("../../img/adminBackImg.png");
	background-size: cover;
	background-position: 50% 50%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.storeContentsWrap, .adminContentsWrap {
	display: flex;
	flex-grow: 1;
	width: 1440px;
	height: auto;
	margin: 0 auto;
}
.storeSubMenuBox, .adminSubMenuBox {
	flex-grow: 1;
	padding-bottom: 80px;
	width: 250px;
	height: auto;
	float: left;
	background-color: #00203F;
}
.storeContentsBox, .adminContentsBox {
	padding-bottom: 80px;
	width: 1190px;
	height: auto;
	float: right;
	background-color: #fff;
}

/*STORE*/

/*CATEGORY DESIGN*/
.storeProfileBox, .storeProfileBox img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 40px auto 20px;
}
.storeNameBox {
	width: 200px;
	height: 80px;
	font-size: 30px;
	color: #fff;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin: 0 25px 40px 25px;
	resize: none;
}
.storeCategoryArea {
	width: 100%;
}
.storeFirstCategoryBtn {
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
}
.storeFirstCategoryBtn:hover {
	background-color: #ADEFD1;
	color: #00203F;
}
.storeSecondCategoryBtn, .storeSecondCategoryBtn a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 70px;
	background-color: #eee;
	color: #999;
	font-size: 15px;
	transition: background-color 0.2s ease, color 0.2s ease, border-bottom 0.2s ease;
}
.storeSecondCategoryBtn a {
	padding: 10px 20px 0 20px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.storeSecondCategoryBtn a:hover {
	font-weight: bold;
	color: #00203F;
	border-bottom: 2px solid #ADEFD1;
}
.storeSecondCategoryBtn span {
	display: block;
	width: 210px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

/*ADMIN*/

/*CATEGORY DESIGN*/
.adminSubMenuBox {
	padding-top: 100px;
}
.adminCategoryArea {
	display: block;
	width: 100%;
}
.adminFirstCategoryArea, .adminFirstCategoryBtn {
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
}
.adminFirstCategoryBtn:hover {
	background-color: #ADEFD1;
	color: #00203F;
}

/*선택상태 CLASS*/
.checkedStateFirstCategory {
	background-color: #ADEFD1;
	color: #00203F;
}
.checkedStateSecondCategory a {
	font-weight: bold;
	color: #00203F;
	border-bottom: 2px solid #ADEFD1;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}