<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminPntDao">

<!-- getStoreList : 전체 스토어 입점신청 테이블 호출 -->
<resultMap id="pntResult" type="adminPntVO">
	<result property="de_code" column="de_code" />
	<result property="ma_id" column="ma_id" />
	<result property="s_id" column="s_id" />
	<result property="de_score" column="de_score" />
	<result property="de_why" column="de_why" />
	<result property="de_date" column="de_date" />
	<result property="de_score_sum" column="de_score_sum" />
	<result property="rnum" column="rnum" />
</resultMap>
<select id="getAdminPnt" parameterType="adminPntVO" resultMap="pntResult" >
	<![CDATA[
	SELECT *
	FROM ( SELECT t.*, rownum AS rnum 
		   FROM ( SELECT de_code, ma_id, s_id, de_score, de_why, de_date, SUM(de_score) OVER (PARTITION BY s_id ORDER BY de_date) AS de_score_sum
				  FROM degrade 
				  ORDER BY de_date DESC ) t 
	) WHERE rnum >= #{firstNum} AND rnum <= #{endNum}
	ORDER BY rnum
	]]>
</select>

<!-- degrade 전체 행수 -->
<select id="getTotalCountPage" resultType="integer">
	select count(*) as cnt from degrade
</select>

<!-- 스토어 아이디 검색 -->
<select id="getStoreIdSearch" parameterType="adminPntVO" resultType="adminPntVO">
	<![CDATA[
	select * 
	from (select s_id, s_name from store
		  where s_name like '%'|| #{s_name} || '%' 
		  order by s_id )
	where rownum<=5
	]]>
</select>

<!-- 스토어 벌점 등록 -->
<insert id="pntInsert" parameterType="adminPntVO" >
	INSERT INTO degrade(de_code, ma_id, s_id, de_score, de_why, de_date) 
	VALUES (de_code_sqn.nextval, #{ma_id}, #{s_id}, #{de_score}, #{de_why}, sysdate)
</insert>

</mapper>