<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CustomerAccountDAO">

<select id="getAccount" parameterType="String" resultType="customerAccount">
	select 
	m_acc_code,
	m_id, 
	m_acc_num, 
	m_acc_bank 
	from member_acc 
	where m_id = #{m_id}
</select> 

<update id="updateCAccount" parameterType="customerAccount">	
	update member_acc set m_acc_bank = #{m_acc_bank}, m_acc_num = #{m_acc_num}
	where m_id = #{m_id}
</update>

<insert id="insertAccount" parameterType="customerAccount">
	insert into member_acc
	(m_acc_code, m_acc_bank, m_acc_num, m_id)
	values
	(m_acc_code_sqn.nextval, #{m_acc_bank}, #{m_acc_num}, #{m_id})
</insert>

</mapper>