<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainPopularRankDao">

<!-- 인기랭킹 조회 -->
<select id="popularRank" parameterType="mainPopularRankVO" resultType="mainPopularRankVO">
select * 
from (
	select t.*, rownum as rnum
	from (
		select s.s_id, s.s_name, cm.catem_name, s.s_spname, 
			(select count(*)
			 from pay p, final_order fo, orderinfo oi
			 where p.p_ck='Y' and oi.s_id=s.s_id
			 and oi.o_code=fo.o_code and fo.fo_code=p.fo_code ) as payCount
		from store s, cate_main cm
		where s.catem_code=cm.catem_code
		<if test="catem_code!=0">
			and cm.catem_code=#{catem_code}
		</if>  
		order by payCount desc) t)
<![CDATA[
where rnum>=1 and rnum<=10
]]>
</select>

<!-- 인기랭킹 굿즈 정보 -->
<select id="popularRankGoodsImg" parameterType="mainPopularRankVO" resultType="mainPopularRankVO">
select * 
from (
	select g_code, g_spname
	from goods
	where s_id=#{s_id}
	order by g_date desc )
<![CDATA[
where rownum<=4
]]>
</select>
	
</mapper>