<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StoreOrderCheckDAO">

	<select id="getStoreOrderCheck" parameterType="String" resultType="storeOrderCheck">
		select p.p_code,f.fo_code,p.p_date, p.p_sum, p.p_ck,p.p_ck_date, o.s_id, d.deli_type, o.o_code, o.o_date
		from pay p, orderinfo o, final_order f, deli d
		where o.s_id =#{s_id}
		and o.o_code=f.o_code
		and f.fo_code=p.fo_code
		and d.deli_code=f.deli_code
	</select>
	<select id="getCancelOrderCheck" parameterType="String" resultType="cancelOrder">

		select c.can_code, c.can_date, c.can_why, o.s_id, f.fo_code, c.can_state 
		from cancel c, orderinfo o, final_order f, pay p
		where o.s_id=#{s_id}
		and o.o_code=f.o_code
		and f.fo_code=p.fo_code
		and p.p_code=c.p_code
	</select>
	<select id="getReturnOrderCheck" parameterType="String" resultType="returnOrder">
		select r.rt_code, r.p_code, r.rt_date, r.rt_why,o.s_id, o.o_code
		from return r, orderinfo o, final_order f, pay p
		where o.s_id=#{s_id}
		and o.o_code=f.o_code
		and f.fo_code=p.fo_code
		and p.p_code=r.p_code
	</select>
	<select id="getStoreFinalOrder" parameterType="Integer" resultType="storeFinalOrder">
	select 
	d.deli_type,
	fo.fo_code,
	cs.cates_name,
	cm.catemm_name,
	fo.deli_code,
	fo.fo_date,
	fo.fo_sum,
	fo.fo_num,
	fo.fo_size,	
	fo.fo_etc 
	from final_order fo, deli d,cate_sub cs, cate_mid cm
	where fo_code = #{fo_code}
	and fo.cates_code = cs.cates_code 
	and cs.catemm_code = cm.catemm_code
	and fo.deli_code = d.deli_code
</select>
	<select id="getStoreDelivery" parameterType="Integer" resultType="storeDelivery">
	select 
	fo.fo_code,
	p.p_code,
	d.d_name,
	d.d_tel,
	d.d_addr,
	d.d_memo,
	d.d_date,
	d.d_state
	from final_order fo, delivery d, pay p
	where fo.fo_code = #{fo_code}
	and fo.fo_code = p.fo_code 
	and p.p_code = d.p_code
</select>

<update id="deliverycomplete" parameterType="Integer">
	update delivery
	set d_state='발송완료', d_date=sysdate
	where p_code=#{p_code}
</update>

<update id="updateCancelState" parameterType="cancelOrder">
	update cancel
	set can_state=#{can_state}
	where can_code=#{can_code}
</update>

<select id="getCancel" parameterType="Integer" resultType="cancelOrder"> 

	select * from cancel where can_code= #{can_code}  
	
</select>


</mapper>