<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StoreAccountDAO">

	<select id="getAccountById" parameterType="String" resultType="storeAccountInfo">

		select s_id,s_pass,s_bnum,s_email,s_tel,s_addr,s_acc,s_bank
		from store
		where s_id = #{id}

	</select>

	<update id="updateAccount" parameterType="storeAccountInfo">
		UPDATE store
		SET s_pass = #{s_pass}, s_bnum = #{s_bnum}, s_email = #{s_email}, s_tel = #{s_tel},s_addr = #{s_addr},s_acc = #{s_acc},s_bank = #{s_bank}
		WHERE s_id = #{s_id}
	</update>

</mapper>