<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StoreEachDao">

<!-- 스토어 아이디 검색 -->
<select id="getStoreInfoDetail" resultType="storeEachVO">
	select s_id, s_name, s_text, s_spname, s_back_spname 
	from store
	where s_id=#{sId}
</select>

<!-- 스토어 공지사항 정보 -->
<select id="getStoreNotiList" resultType="storeEachVO">
	select ni.noti_code, nt.notit_name, ni.noti_content
	from noti_info ni, noti_type nt
	where ni.notit_code=nt.notit_code and ni.s_id=#{sId}
	order by notim_date desc, notir_date desc
</select>

<!-- 스토어 피드 정보 -->
<select id="getStoreGoodsList" resultType="storeEachVO">
	select g_code, g_spname
	from goods
	where s_id=#{sId}
	order by g_date desc
</select>

<!-- 스토어 공지사항 상세 내용 -->
<select id="eachNoticeView" resultType="storeEachVO">
	select *
	from noti_info ni, noti_type nt
	where ni.notit_code=nt.notit_code and noti_code=#{noti_code}
</select>

<!-- 스토어 피드 상세 내용 -->
<select id="eachStoreGoods" resultType="storeEachVO">
	select *
	from goods g, cate_sub cs, cate_mid cmm, cate_main cm
	where g.cates_code=cs.cates_code
		and cs.catemm_code=cmm.catemm_code
		and cmm.catem_code=cm.catem_code
		and g_code=#{g_code}
</select>

<!-- 스토어 피드 서브이미지 -->
<select id="eachStoreGoodsImg" resultType="storeEachVO">
	select g_spname as g_img
	from goods
	where g_code=#{g_code}
	union all
	select gs_spname as g_img
	from goods_sub
	where g_code=#{g_code}
</select>

<!-- 주문요청 -->
<insert id="orderSend" parameterType="storeEachVO">
	insert into orderinfo(o_code, m_id, s_id, o_content, o_date)
	values (o_code_sqn.nextval, #{m_id}, #{s_id}, #{o_content}, sysdate)
</insert>


</mapper>