@charset "UTF-8";

body {
	width: 100%;
}

.main {
	/* width: 1900px; */
	width: auto;
	height: auto;
	display: flex;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	justify-content: center;
}

.main>div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainContentleft {
	margin-right: 40px;
	width: auto;
	text-align: center;
}

.mainContentleft div:nth-child(1) {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	line-height: 50px;
}

.mainContentleft div:nth-child(2) {
	width: 300px;
	height: 50px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.mainContentleft div:nth-child(3), .mainContentleft div:nth-child(4),
	.mainContentleft div:nth-child(5), .mainContentleft div:nth-child(6),
	.mainContentleft div:nth-child(7), .mainContentleft div:nth-child(8),
	.mainContentleft div:nth-child(9) {
	width: 300px;
	height: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 50px;
}

.mainContentright {
	width: 1020px;
	height: auto;
}

.subtitle {
	font-weight: bold;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.myPageLine {
	width: 100%;
	height: 5px;
	background-color: #D9D9D9;
}



/* Main 기본설정 */

/* 메인 Talk 공통CSS */
.mainTalkContent {
	/* border: 2px solid black; */
	display: flex;
	margin-top: 55px;
}

/* 스토어목록 - 타이틀 CSS */
.TalkList {
	/* border: 2px solid red; */
	width: 280px;
}

.TalkListTitle>div:first-child>span:first-child {
	font-size: 20px;
}

.TalkListTitle{
	display: flex;
	height: 30px;
}

.TalkListTitle div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* 주문 요청 내역 - 타이틀 CSS */
.activeTalk {
	/* border: 2px solid blue; */
	width: 720px;
	margin-left: 30px;
}

/* .activeTalk input {
	border: 2px solid #ADEFD1;
	border-radius: 5px;
} */

.activeTalkTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.activeTalkTitle>div:nth-child(2)>span:nth-child(1) {
	font-size: 12pt;
	margin-right: 30px;
}

.activeTalkTitle>div:nth-child(2)>span:nth-child(2) input {
	width: 100px;
	height: 30px;
}

/* .activeTalkMain>div:nth-child(4) input{
	border: 2px solid #ADEFD1;
	border-radius: 5px;
		width: 100%;
	height: 50px;
	border-radius: 0px;
} */




.activeTalkTitle>div:nth-child(2) input{
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}
/* 스토어 목록 메인 */
.TalkListMain {
	margin-top: 55px;
	/* border: 2px solid black; */
	font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TalkListMain>div>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.eachstore {
	cursor: pointer;
}
.eachstore:hover {
	outline: 4px solid #eee;
	border-radius: 5px;
}

.storeSimpleInfo{
	display: flex;
	align-items: center;
}

.storeSimpleInfo div{
	margin-left: 10px;
}

/* 주문 요청 내역 메인 */
.activeTalkMain {
	margin-top: 40px;
	background-color:  #ADEFD1;
	padding: 2px 2px 2px 2px;
	border-radius: 10px 10px 10px 10px;
}

.listBar{
	width: 280px;
	height: 1px;
	border: 2px solid  #ADEFD1;
	margin-top: 20px;
	margin-bottom: 20px;
}

.listBarOrder{
    width: auto;
    height: 1px;
    border: 2px solid #D9D9D9;
    margin-top: 15px;
}

.customerInfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.customerInfo>div:first-child>div:first-child{
	margin-right: 10px;
}

.customerInfo>div:first-child {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	color: #00203F;
}

.customerInfo>div:last-child{
	font-size: 15px;
	color: #999999;
}

.activeTalkMain>div:nth-child(3) {
	margin-top: 10px;
	width: auto;
	/* height: 560px; */
	padding-left: 10px;
	padding-right: 10px;
}

.activeTalkMain>form>div:nth-child(1) {
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 10px;
}





/* 이미지 불러오기 CSS */
.activeTalkMain>form>div:nth-child(2) {
	width: 100%;
	height: 100px;
	position: relative;
}

.activeTalkMain>form>div:nth-child(2) textarea{
	border: 2px solid #ADEFD1;
	border-radius: 5px;
    padding: 15px 212px 15px 15px;
	text-align: left;
	width: 100%;
	height: 100px;
	border-radius: 0px 0px 10px 10px;
}




.orderMainContent{
	position: relative;
	font-size: 15px;
	width: 706px;
	height: 560px;

	
}

.orderMainContentInner{
	max-height: 580px;
	position: absolute;
	bottom: 0;

}
.orderMainContent div{
	max-width: 465px;
	margin-top: 10px;
}

.orderMainContentInner>div{
	margin-top: 60px;
}

.orderMainContentInner>div:last-child{
	margin-top: 60px;
	margin-bottom: 30px;
}


.orderMainDetail {
	position: relative;
}

.orderMainDetail>div {
	position: absolute;
	width: 430px;
	/* height: 50px; */
	max-width: 430px;
	max-height: 50px;
	margin-top: 10px;
	margin-left: 25px;
}



.orderMainDetail>div:last-child {
	width: 190px;
	margin-left: 485px;
	margin-top: -21px;
	font-size: 15px;
	color: #999999;
}

.orderMainDetail>div:first-child {
display: flex;
    align-items: center;
    margin-top: -53px;
    margin-left: 18px;
}

.orderMainDetail input[type=button]{
	width: 412px;
	height: 50px;
	background-color: #00203F;
	font-size: 15px;
	font-weight: bold;
	color:white;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease, border 0.2s ease;
}
.orderMainDetail input[type=button]:hover{
	background-color: #fff;
	border: 2px solid #00203F;
	font-weight: bold;
	color: #222;
}

/* .orderMainDetail input[type=text]{
	width: 410px;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	color:black;
	border: 0px;
	border-radius: 5px;
} */


.orderMainDetail textarea{
	width: 410px;
	max-height: 1000px;
	font-size: 15px;
	font-weight: bold;
	color:black;
	border: 0px;
	border-radius: 5px;
}

.orderMainDetail>div:first-child>div:first-child {
	margin-right: 10px;

}

.orderNum{
	text-align: center;
}
/* 모달관련 */

.orderCheckModal{
	display: none;
}

.payResultModal{
	display: none;
}

.modalWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	text-align: center;
}

/* 백엔드 작업을 위해 만들어진 CSS */

/* 입력창 CSS */

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    display: none;
}

.filebox input[type='text'] {
    width: 716px;
    height: 50px;
    border: 2px solid #ADEFD1;
    padding-left: 20px;
    font-size: 20px;
    color: #999999;
    text-align: left;
}

.activeTalkMain>form>div:nth-child(1) label {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    background-color: #00203F;
    left: 517px;
    top: 10px;
    color: white;
    text-align: center;
    line-height: 30px;
	transition: background-color 0.2s ease, border 0.2s ease;
	cursor: pointer;
}
.activeTalkMain>form>div:nth-child(1) label:hover{
	background-color: #fff;
	border: 2px solid #00203F;
	font-weight: bold;
	color: #222;
}

.activeTalkMain>form>div:nth-child(2) input[type="submit"] {
	width: 180px;
	height: 80px;
	border-radius: 10px;
	position: absolute;
	background-color: #00203F;
	left: 517px;
	top: 10px;
	font-size: 20px;
	font-weight: bold;
	color:white;
	transition: background-color 0.2s ease, border 0.2s ease;
	cursor: pointer;
}
.activeTalkMain>form>div:nth-child(2) input[type="submit"]:hover{
	background-color: #fff;
	border: 2px solid #00203F;
	font-weight: bold;
	color: #222;
}

/* 요청사항 이미지 크기 제한 */
.orderMainDetail img{
	max-width: 450px;
	max-height: 220px;
}

/* 요청사항 이미지 위치 조정 */
.etcImg {
    margin: 0px 0px 7px 38px;
}

textarea {
	resize: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Modal */
.modalWrap {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.orderCheckModal {
	width: 700px;
	height:400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
	display: none;
}
.payResultModal {
	width: 700px;
	height: 915px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px 40px 40px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
	display: none;
}