@charset "UTF-8";

body {
	width: 100%;
}

/* 기본 css 속성 */
.main {
	/* width: 1900px; */
	width: auto;
	height: auto;
	display: flex;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: center;
}

.main>div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mainContentleft {
	margin-right: 40px;
	width: auto;
	text-align: center;
}

.mainContentleft div:nth-child(1) {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	line-height: 50px;

}

.mainContentleft div:nth-child(2) {
	width: 300px;
	height: 50px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.mainContentleft div:nth-child(3) a,
.mainContentleft div:nth-child(4) a,
.mainContentleft div:nth-child(5) a,
.mainContentleft div:nth-child(6) a,
.mainContentleft div:nth-child(7) a,
.mainContentleft div:nth-child(8) a,
.mainContentleft div:nth-child(9) a {
	width: 300px;
	height: 50px;
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 50px;
}

.selectMenu, .selectMenu a{
	background-color: #00203F;
	border: 2px solid #00203F;
	border-radius: 10px;
}

.selectMenu>a{
	color: white;
}

.subTitle{
	color:black;
	font-weight: bold;
}
