@charset "UTF-8";

/*페이징 css*/
.pageing {
	width: auto; margin-top : 40px;
	text-align: center;
	margin-top: 40px;
}

.subtitle2 {
	margin-top: 70px;
}

/* Modal css */
/* Modal Order Join css*/
/* .customerOrderListModal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	text-align: center;
}

.customerOrderListModal.show {
	display: block;
}

.customerOrderListModalBody {
	margin-top: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 400px;
	padding: 40px 20px 40px 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
} */

.customerOrderListTitle {
	display: flex;
	height: 20px;
		align-items: baseline;
}

/*Modal Main Title CSS*/
/* SUJE 로고 CSS*/
.customerOrderListTitle div:nth-child(1) {
	margin-right: 40px;
	font-weight: bold;
	font-size: 30px;
}

/* 주문제작후기 타이틀 CSS*/
.customerOrderListTitle div:nth-child(2) {
	height: auto;
	margin-right: 90px;
	font-size: 15px;
	font-weight: bold;
}

/* 제작주문번호 입력부분*/
.customerOrderListTitle div:nth-child(3) {
	margin-left: 100px;
	font-size: 12px;
}

.customerOrderListTitle div:nth-child(3) input {
	text-align: center;
}

.customerOrderListTitle input {
	border: 2px solid #ADEFD1;
	width: 100px;
	height: 30px;
	margin-left: 30px;
	border-radius: 5px;
}

/*Modal Main Content CSS*/
/* contetntLeft*/
.OrderInfomodalMainContent {
	margin-top: 30px;
	display: flex;
}

.OrderInfoContentLefit {
	width: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	display: flex;
}

.OrderInfoContentLefit>div:nth-child(1), .OrderInfoContentLefit>div:nth-child(2),
	.OrderInfoContentLefit>div:nth-child(3), .OrderInfoContentLefit>div:nth-child(4) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}

.OrderInfoContentLefit div {
	margin-bottom: 10px;
	height: 30px;
	font-size: 12px;
}

/* contetntRight*/
.OrderInfoContentRight {
	margin-left: 20px;
}

.OrderInfoContentRight>div {
	margin-bottom: 10px;
}

.OrderInfoContentRight input {
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}

/* 첫번째 라인*/
.OrderInfoContentRight>div:nth-child(1) {
	display: flex;
}

.OrderInfoContentRight>div:nth-child(1)>div:nth-child(1) {
	margin-right: 40px;
	width: 150px;
	height: 30px;
}

.OrderInfoContentRight>div:nth-child(1)>div:nth-child(1) select {
	margin-right: 40px;
	width: 150px;
	height: 30px;
	text-align: center;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}

.OrderInfoContentRight>div:nth-child(1)>div:nth-child(2) {
	width: 150px;
	height: 30px;
}

.OrderInfoContentRight>div:nth-child(1)>div:nth-child(2) select {
	margin-right: 40px;
	width: 150px;
	height: 30px;
	text-align: center;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}

/* 두번째 라인*/
.OrderInfoContentRight>div:nth-child(2) {
	display: flex;
	font-size: 12px;
	margin-left: 0;
	vertical-align: middle;
	align-items: center;
}

.OrderInfoContentRight>div:nth-child(2)>div:nth-child(1) input {
	width: 100px;
	height: 30px;
}

.OrderInfoContentRight>div:nth-child(2)>div:nth-child(2) {
	margin-left: 10px;
}

.OrderInfoContentRight>div:nth-child(2)>div:nth-child(3) {
	margin-left: 120px;
}

.OrderInfoContentRight>div:nth-child(2)>div:nth-child(4) input {
	margin-left: 30px;
	width: 100px;
	height: 30px;
}

/* 세번째 라인*/
.OrderInfoContentRight>div:nth-child(3) {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.OrderInfoContentRight>div:nth-child(3)>div:nth-child(1) input {
	width: 100px;
	height: 30px;
}

.OrderInfoContentRight>div:nth-child(3)>div:nth-child(2) {
	margin-left: 10px;
}

.OrderInfoContentRight>div:nth-child(3)>div:nth-child(3) {
	margin-left: 120px;
}

.OrderInfoContentRight>div:nth-child(3)>div:nth-child(4) select {
	margin-left: 45px;
	width: 100px;
	height: 30px;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}

.OrderInfoContentRight>div:nth-child(4)>input {
	width: 500px;
	height: 70px;
}

/* 등록하기 버튼 CSS */
.OrderInfoinsertbtn {
	margin-top: 30px; display : flex;
	justify-content: center;
	display: flex;
	display: flex;
}

.OrderInfoinsertbtn div:nth-child(1)>input {
	width: 200px;
	height: 30px;
	background-color: #ADEFD1;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
}
.insertBtnRes:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) !important;
}

.OrderInfoinsertbtn div:nth-child(2)>input {
	width: 200px;
	height: 30px;
	background-color: white;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
}
.OrderInfoinsertbtn div:nth-child(2)>input:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) !important;
}
.payComple {
	display: block;
	width: 100%;
	font-weight: bold;
	margin-top: 15px;
}

.OrderInfoContentRight input{
	text-align: center;
}

.OrderInfoinsertbtn input[type=button]{
	font-weight: bold;
}