@charset "UTF-8";

/* 
 body {
	background-color: white;
        margin: 0;
        padding: 0;
       
    background-size: cover;
    	font-size: 20px;
	font-family: 'Inter', sans-serif;
	color: #222;
	line-height: 1;
    }
  

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        font-weight: bold;
        font-size: 1.2em;
        color: #ADEFD1;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid #ADEFD1;
        box-sizing: border-box;
    }

    button {
        padding: 10px 20px;
        border: none;
        background-color: #ADEFD1;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #00203F;
        color: white;
        font-weight: bold;
    }

    성별을 한 줄로 배치
    input[type="checkbox"],
    label[for="male"],
    label[for="female"] {
        display: inline;
        margin-right: 10px;
    }

    리스트 아이템 간격 조정
    ol li {
        margin-bottom: 15px;
    } 
     */
     

 










     
  
