@charset "UTF-8";

/*SUB MENU FORM*/
body {
	width: 100%;
	background-color: #ccc;
}
.storeContentsWrap {
	width: 1440px;
	height: auto;
	margin: 0 auto;
}
.storeSubMenuBox {
	width: 250px;
	height: 2000px;
	background-color: #00203F;
	float: left;
}
.storeContentsBox {
	width: 1190px;
	height: 2000px;
	float: right;
	background-color: #fff;
}

/*CATEGORY DESIGN*/
.storeProfileBox, .storeProfileBox img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 40px auto 20px;
}
.storeNameBox {
	width: 200px;
	height: 80px;
	font-size: 30px;
	color: #fff;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	margin: 0 25px 40px 25px;
	resize: none;
}
.storeFirstCategoryBtn {
	display: block;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;
}
.storeFirstCategoryBtn:hover {
	background-color: #ADEFD1;
	color: #00203F;
}
.storeSecondCategoryBtn, .storeSecondCategoryBtn a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 70px;
	background-color: #eee;
	color: #999;
	font-size: 15px;
	transition: background-color 0.2s ease, color 0.2s ease, border-bottom 0.2s ease;
}
.storeSecondCategoryBtn a {
	padding: 10px 20px 0 20px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}
.storeSecondCategoryBtn a:hover {
	font-weight: bold;
	color: #00203F;
	border-bottom: 2px solid #ADEFD1;
}
.storeSecondCategoryBtn span {
	display: block;
	width: 210px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

/*선택상태 CLASS*/
.checkedStateFirstCategory {
	background-color: #ADEFD1;
	color: #00203F;
}
.checkedStateSecondCategory a {
	font-weight: bold;
	color: #00203F;
	border-bottom: 2px solid #ADEFD1;
}