@charset "UTF-8";

.title {
	font-size: 30px; /* 화면 너비에 대해 상대적인 크기 */
	margin-left: 30px; /* 왼쪽 여백을 화면 너비의 5%로 설정 */
	margin-top: 40px;
}

.subtitle {
	font-size: 30px; /* 화면 너비에 대해 상대적인 크기 */
	margin-left: 2%; /* 왼쪽 여백을 화면 너비의 5%로 설정 */
	margin-top: 5%;
}

.hr {
	border-top: 5px solid #d9d9d9; /* 위쪽 테두리 설정 */
	margin-top: 30px; /* 위쪽 여백 설정 */
	margin-bottom: 20px; /* 아래쪽 여백 설정 */
}

.hr2 {
	border-top: 2px solid #ADEFD1; /* 위쪽 테두리 설정 */
	margin-top: 20px; /* 위쪽 여백 설정 */
	margin-bottom: 20px; /* 아래쪽 여백 설정 */
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   padding: 8px;
}

th {
   background-color: #ADEFD1;
   text-align: center;
   height: 30px;
}

td {
   border-bottom: 2px solid #ADEFD1;
   text-align: center;
}

tr:hover {
   background-color: #ddd;
}

tbody>tr>td {
   border-bottom: 2px solid #ADEFD1;
}


.table-wrapper {
	margin-top: 50px; /* 원하는 만큼의 상단 여백을 설정합니다 */
}

.check {
	background-color: #ADEFD1; /* 배경색 */
	color: black; /* 글자색 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	font-size: 16px; /* 글자 크기 */
	cursor: pointer; /* 마우스 커서를 포인터로 변경 */
	border-radius: 5px; /* 버튼 모서리를 둥글게 */
}

.check:hover {
	background-color: #7BB5AF; /* 마우스를 올렸을 때의 배경색 */
}
.check-delivery {
	background-color: #ADEFD1; /* 배경색 */
	color: black; /* 글자색 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	font-size: 16px; /* 글자 크기 */
	cursor: pointer; /* 마우스 커서를 포인터로 변경 */
	border-radius: 5px; /* 버튼 모서리를 둥글게 */
}

.cancel-state:hover {
	background-color: #7BB5AF; /* 마우스를 올렸을 때의 배경색 */
}
.return-state:hover {
	background-color: #7BB5AF; /* 마우스를 올렸을 때의 배경색 */
}

.cancel-state {
	background-color: #ADEFD1; /* 배경색 */
	color: black; /* 글자색 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	font-size: 16px; /* 글자 크기 */
	cursor: pointer; /* 마우스 커서를 포인터로 변경 */
	border-radius: 5px; /* 버튼 모서리를 둥글게 */
}
.return-state {
	background-color: #ADEFD1; /* 배경색 */
	color: black; /* 글자색 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	font-size: 16px; /* 글자 크기 */
	cursor: pointer; /* 마우스 커서를 포인터로 변경 */
	border-radius: 5px; /* 버튼 모서리를 둥글게 */
}

.check-delivery:hover {
	background-color: #7BB5AF; /* 마우스를 올렸을 때의 배경색 */
}

.orderListWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	text-align: center;
}

/* 테이블 공통 속성 end*/
/* .storeOrderModal{
	display: none;
}

.deliveryModal{
	display: none; 
} */

.pageing {
    display: flex;
    justify-content: center;
}
.pageing button {
    margin: 10px; /* 좌우 여백을 5px로 설정합니다. */
}

/* Modal */
.storeMoreInfoModalWrap {
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	position: fixed; top: 0; left: 0; z-index: 999;
	display: none;
}
.storeOrderModal {
	width: 700px;
	height: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px 20px 40px 40px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999; 
	display: none;
}

