@charset "UTF-8";

body {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentsWrap {
	display: flex;
	flex-grow: 1;
	width: 1440px;
	padding-top: 40px;
	padding-bottom: 100px;
	margin: 0 auto;
	background-color: #fff;
}

/*좌측 서브메뉴 영역*/
.subMenuArea {
	flex-grow: 1;
	width: 290px;
	height: auto;
	float: left;
	background-color: #fff;
	padding :60px 0 0 90px;
}
.mainContentsArea {
	flex-grow: 1;
	 width: 1180px;
	 height: auto;
}
.mainNavi a {
	display:block;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: #fff;
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	transition: background-color 0.2s ease, color 0.2s ease;
	color: #00203F;
}
.mainNavi a:hover {
	background-color: #00203F;
	color: #fff;
	font-weight: bold;
}

/*선택상태*/
.selectedMainNavi a {
	background-color: #00203F;
	color: #fff;
}

/*우측 메인콘텐츠 영역*/
.mainTitleArea {
	width: 1020px;
	height: 50px;
	margin: 50px 0 0 40px;
}
.mainTitle {
	width: 250px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
	float: left;
}
.categoryArea {
	width: 175px;
	height: 40px;
	float: left;
	margin-top: 10px;
}
.categoryArea img {
	width: 15px;
	height: 15px;
	float: left;
	float: left;
	display: block;
	transform: rotate(-90deg);
	margin: 12px 10px 0 10px;
}
.allCategory {
	width: 40px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 15px;
}
.mainCategory {
	width: 100px;
	height: 40px;
	float: left;
	line-height: 40px;
	font-size: 15px;
}
.contentsWriteBtn {
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #ADEFD1;
	text-align: center;
	line-height: 50px;
	display: block;
	float: right;
	transition: background-color 0.2s ease, border 0.2s ease;;
}
.contentsWriteBtn:hover {
	background-color: #fff;
	border: 2px solid #ADEFD1;
	font-weight: bold;
}
.AreaLine {
	width: 1020px;
	height: 5px;
	margin-top: 10px;
	margin-left: 40px;
	background-color: #eee;
}

.contentsArea {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 20px;
	width: 1020px;
	height: auto;
	margin-top: 20px;
	margin-left: 40px;
}

.noneItemArea {
	width: 1020px;
	height: auto;
	margin: 100px 0 100px 0;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
}

.EachContents, .contentsLinkArea {
	width: 1020px;
	height: auto;
	display: block;
}
.EachContents {
	border-bottom: 1px solid #eee;
}
.contentsCategoryTd {
	width: 1020px;
	font-size: 15px;
	padding: 10px 0;
	color: #999;
}
.contentsTitleTd {
	padding: 10px 0;
	font-weight: bold;
}
.contentsWriterTd {
	width: 15%;
	font-size: 15px;
	padding: 10px 0;
	color: #999;
	vertical-align: middle;
}
.commViewsTd img, .commLikeTd img, .commCommentTd img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.commViewsTd, .commLikeTd, .commCommentTd {
	width: 8%;
	font-size: 15px;
	padding: 10px 0;
	color: #999;
	vertical-align: middle;
}
.commDateTd {
	font-size: 15px;
	padding: 10px 20px;
	color: #999;
	text-align: right;
	vertical-align: middle;
	
}

/*페이징 처리*/
.pageingArea {
	width: auto;
	height: 20px;
	margin: 40px auto 0;
	display: flex;
	justify-content: center;
	align-item: center;
}
.pageingArea a {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	text-align: center;
	line-height: 20px;
	color: #999999;
	margin: 0 5px;
}
.pageingArea a img {
	width: 20px;
	height: 20px;
}


/*Footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}
