@charset "UTF-8";

/* Modal css */
/* Modal Order Join css*/

.customerOrderListTitle {
	display: block;
	margin: 30px 30px 0 30px;
	height: 20px;
	align-items: baseline;
}

/*Modal Main Title CSS*/
/* SUJE 로고 CSS*/
.customerOrderListTitle div:nth-child(1) {
	margin-right: 58px;
	float: left;
}

/* 주문제작후기 타이틀 CSS*/
.customerOrderListTitle div:nth-child(2) {
	line-height: 25px;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
	float: left;
}

/*Modal Main Content CSS*/
/* contetntLeft*/
.modalMainContent {
	margin: 30px 30px 20px 30px;
	display: flex;
}

.ContentLefit {
	width: 120px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.ContentLefit>div:nth-child(1), .ContentLefit>div:nth-child(2),
	.ContentLefit>div:nth-child(3), .ContentLefit>div:nth-child(4) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}

.ContentLefit div {
	margin-bottom: 10px;
	height: 30px;
	font-size: 12px;
}

/* contetntRight*/
.ContentRight {
	margin-left: 20px;
}

.ContentRight>div {
	margin-bottom: 10px;
}

.ContentRight input {
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	text-align: center;
}

/* 첫번째 라인*/
.ContentRight>div:nth-child(1) {
	display: flex;
	font-size: 12px;
	margin-left: 0;
	vertical-align: middle;
	align-items: center;
}

.ContentRight>div:nth-child(1) input {
	width: 150px;
	height: 30px;
}

.ContentRight>div:nth-child(1)>div:nth-child(2) {
	font-size: 12px;
	width: 100px;
	margin-left: 100px;
	margin-right : 20px;
	vertical-align: middle;
	align-items: center;
}

/* 두번째 라인 */
.ContentRight>div:nth-child(2) {
	display: flex;
	font-size: 12px;
	margin-left: 0;
	vertical-align: middle;
	align-items: center;
}

.ContentRight>div:nth-child(2) input {
	width: 150px;
	height: 30px;
}

/* 세번째 라인*/
.ContentRight>div:nth-child(3) {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.ContentRight>div:nth-child(3) textarea {
	width: 520px;
	height: 150px;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	resize: none;
	padding: 5px;
}
.ContentRight>div:nth-child(3) textarea:focus {
	outline: 1px solid #ADEFD1;
}

input[readonly]:focus {
	outline: 0;
	
}

/* 등록하기 버튼 CSS */
.insertbtn {
	margin-top: 15px; display : flex;
	justify-content: center;
	display: flex;
	display: flex;
}

.insertbtn div:nth-child(1)>input {
	width: 200px;
	height: 30px;
	background-color: #ADEFD1;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
}

.insertbtn div:nth-child(2)>input {
	width: 200px;
	height: 30px;
	background-color: white;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: box-shadow 0.2s ease;
}
.insertbtn input:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}