@charset "UTF-8";

body {
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contentsWrap {
	display: flex;
	flex-grow: 1;
	width: 1440px;
	padding-top: 40px;
	padding-bottom: 100px;
	margin: 0 auto;
	background-color: #fff;
}

/*좌측 서브메뉴 영역*/
.subMenuArea {
	flex-grow: 1;
	width: 260px;
	height: auto;
	float: left;
	background-color: #fff;
	padding :60px 0 0 90px;
}
.mainContentsArea {
	flex-grow: 1;
	 width: 1180px;
	 height: auto;
}
.mainNavi>a, .mainNavi>div, .subNaviWrap a {
	display:block;
	width: 170px;
	height: 40px;
	border-radius: 10px;
	background-color: #fff;
	font-size: 15px;
	line-height: 40px;
}
.mainNavi>a img, .mainNavi>div img {
	width: 15px;
	height: 15px;
	display: block;
	float: right;
	margin-top: 12px;
}
.mainNavi>a, .mainNavi>div {
	color: #00203F;
	font-weight: bold;
	padding: 0 10px;
	transition: background-color 0.2s ease;
}
.mainNavi>a:hover, .mainNavi>div:hover {
	background-color: #ADEFD1;
	cursor: pointer;
}
.subNaviWrap {
	display: none;
}
.subNaviWrap a {
	color: #999;
	padding: 0 20px;
	background-color: #fff;
	transition: background-color 0.2s ease, color 0.2s ease;
}
.subNaviWrap a:hover {
	background-color: #00203F;
	color: #fff;
}

/*선택상태*/
.selectedMainNavi>a, .selectedMainNavi>div {
	background-color: #ADEFD1;
}
.selectedSubNavi {
	background-color: #00203F !important;
	color: #fff !important;
}

/*우측 메인콘텐츠 영역*/
.mainTitleArea {
	width: 920px;
	height: 50px;
	margin: 60px 0 0 90px;
}
.mainTitle {
	width: 720px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
	font-weight: bold;
	float: left;
}
.mainFilter {
	width: 200px;
	height: 40px;
	text-align: center;
	border-radius: 20px;
	border: 2px solid #999;
	cursor: pointer;
}
.mainFilter:focus {
	outline: 1px solid #999;
}
.AreaLine {
	width: 940px;
	height: 5px;
	margin-top: 40px;
	margin-left: 90px;
	background-color: #eee;
}

/*플리마켓 CSS*/
.itemArea {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	row-gap: 40px;
	width: 920px;
	height: auto;
	margin-top: 40px;
	margin-left: 100px;
}
.noneItemArea {
	width: 920px;
	height: auto;
	margin: 100px 0 100px 100px;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
}
.EachItem, .EachItemLinkArea {
	width: 200px;
	height: auto;
	display: block;
}
.itemImgArea {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	background-color: #eee;
	overflow: hidden;
}
.itemImgArea img {
	max-height: 100%;
	width: auto;
	height: auto;
	display: block;
	margin: auto;
}
.itemStoreTr td {
	font-size: 15px;
	color: #999;
	padding: 10px 0;
	vertical-align: middle;
}
.itemNameTr td {
	padding: 10px 0;
	font-weight: bold;
	vertical-align: middle;
}
.itemPriceTr td {
	padding: 10px 0;
	font-size: 15px;
	vertical-align: middle;
}
.itemPriceTr span {
	margin-right: 10px;
}

/*페이징 처리*/
.pageingArea {
	margin: 40px auto 0;
	width: auto;
	height: 20px;
	display: flex;
	justify-content: center;
	align-item: center;
}
.pageingArea a {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	text-align: center;
	line-height: 20px;
	color: #999999;
	margin: 0 5px;
}
.pageingArea a img {
	width: 20px;
	height: 20px;
}

/*Footer*/
footer {
	width: 100%;
	height: 200px;
	background-color: #ADEFD1;
}
