@charset "UTF-8";

/*페이징 css*/
.pageing {
	width: auto;
	margin-top: 40px;
	text-align: center;
}

.subtitle2 {
	margin-top: 70px;
}

/* Modal css */
/* Modal 기본 css*/
/* .qnaaInsertModal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;	
	text-align: center;
}

.qnaaInsertModal.show {
	display: block;
}

.qnaInsertModalBody {
	margin-top: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 400px;
	padding: 40px 20px 40px 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
} */

.qnaInsertTitle {
	display: flex;
	height: 20px;
	align-items: center;
}

/*Modal Main Title CSS*/
/* SUJE 로고 CSS*/
.qnaInsertTitle div:nth-child(1) {
	margin-right: 40px;
	font-weight: bold;
	font-size: 30px;
}

/* Q&A 작성후기 타이틀 CSS*/
.qnaInsertTitle div:nth-child(2) {
	height: auto;
	margin-right: 90px;
	font-size: 15px;
	font-weight: bold;
}

.qnaInsertTitle div:nth-child(3) {
	font-size : 12px;
	margin-left : 130px;
}

.qnaInsertTitle div:nth-child(3) input{
	border : 2px solid #ADEFD1;
	width : 100px;
	height : 30px;
	border-radius : 5px;
	margin-left : 20px;
	text-align: center;
}

/*Modal Main Content CSS*/
.modalMainContent {
	margin-top: 40px;
	display: flex;
}

.ContentLefit {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.ContentLefit>div:nth-child(1), .ContentLefit>div:nth-child(2),
	.ContentLefit>div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}

.ContentLefit div {
	margin-bottom: 30px;
	height: 30px;
}

.ContentRight {
	width: auto;
	margin-left: 40px;
}

.ContentRight div {
	margin-bottom: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.ContentRight>div:first-child {
	/* margin-top: 2px; */
	display: flex;
}

.ContentRight div:nth-child(1) input {
	width : 500px;
	height : 30px;
}

.ContentRight div:nth-child(2) input {
	width : 150px;
	height : 30px;
}

.ContentRight div:nth-child(3) textarea {
	width : 500px;
	height : 100px;
	padding: 10px;
	border : 2px solid #ADEFD1;
	resize: none;
	border-radius : 5px;
}

.ContentRight div:nth-child(1)>div:nth-child(2) {
	margin-left: 20px;
}

.ContentRight div:nth-child(1)>div:nth-child(3) {
	margin-left: 80px;
}

.ContentRight div:nth-child(1)>div:nth-child(4) {
	margin-left: 30px;
}

.ContentRight div:nth-child(1)>div:nth-child(4) input {
	width: 150px;
	height: 30px;
}

.ContentRight div:nth-child(2) {
	display: flex;
}

.ContentRight div:nth-child(2)>div:nth-child(1) input {
	width: 200px;
	height: 30px;
}

.ContentRight div:nth-child(2)>div:nth-child(2) {
	margin-left: 20px;
}

.ContentRight div:nth-child(3) {
	display: flex;
}

.ContentRight div:nth-child(3)>div>input {
	width: 522px;
	height: 70px;
}

.ContentRight input {
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	text-align: center;
}

.ContentRight input[type=button] {
	background-color: #ADEFD1;
	width: 100px;
	height: 30px;
	font-size: 15px;
	padding-left: 0px;
}

/* 등록하기 버튼 CSS */
.qnaaBtn {
	margin-top: 60px; 
	display : flex;
	justify-content: center;
	display: flex;
}

.insertbtn div:nth-child(1) input {
	width: 200px;
	height: 30px;
	background-color: #ADEFD1;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
}

.insertbtn div:nth-child(2)>a>input {
	width: 200px;
	height: 30px;
	background-color: white;
	border: 2px solid #ADEFD1;
	border-radius: 5px;
	margin-left: 20px;
}
