@charset "UTF-8";

body {
	width: 100%;
	background-color: #00203F;
}
.storeContentsWrap {
	width: 1440px;
	height: auto;
	margin: 0 auto;
}
.storeSubMenuBox {
	width: 250px;
	float: left;
}
.storeSubMenuBox a {
	color: #fff;
}
.storeContentsBox {
	width:  ;
	height: 2000px;
	float: left;
	background-color: #fff;
}

.storeProfileBox, .storeProfileBox img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 40px auto 20px;
}
.storeNameBox {
	width: 200px;
	height: 80px;
	background-color: #00203F;
	margin: 0 25px 25px 40px;
}