@charset "UTF-8";


hr {
    border-top: 5px solid #d9d9d9; /* 위쪽 테두리 설정 */
    margin-top: 40px; /* 위쪽 여백 설정 */
    margin-bottom: 20px; /* 아래쪽 여백 설정 */
}


.store_mainTitle {
	font-size: 30px;
	margin-top: 40px;
	margin-left: 30px;
	
}

.storeAcc_mainInfo {
	width: 680px;
	margin: 0 auto;

}

.storeAcc_subTitle {
	width: 200px;
	height: 50px;
	display: block;
	line-height: 50px;
	margin-top: 30px;
	float: left; 
	
}

.storeAcc_selectBox {
	width: 300px;
	height: 50px;
	float: left;
	border-radius: 10px;
	border: 5px solid #ADEFD1;
	margin-top: 30px;
	margin-right: 100px;
	cursor: pointer;
	font-size: 20px;
	text-align: center;
}

.storeAcc_selectBox:focus {
	outline: 2px solid #ADEFD1;
	border: 1px solid #ADEFD1;
	cursor: pointer;
}


.storeAcc_subCategory {
	margin-top: 50px;

}

.submitBtn {
	float: left;
	background-color: #ADEFD1;
	width: 300px;
	height: 50px;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 20px;
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 내부 여백 설정 */
    color: black; /* 텍스트 색상 설정 */
    cursor: pointer; /* 커서 모양 변경 */
}


.submitBtn:hover {
    background-color: #7cb8a5; /* 호버 상태 배경색 변경 */
}

.idCheckBtn {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	background-color: #ADEFD1;
	margin-top: 30px;
	margin-left: 30px;
}

.idCheckBtn:hover {
    background-color: #7cb8a5; /* 호버 상태 배경색 변경 */
}
input[type="text"] {
	padding-left: 10px !important;
}
input[type="password"] {
	padding-left: 10px !important;
}
.storeAcc_textbox1 {
	width: 300px;
	height: 50px;
	float: left;
	border-radius: 10px;
	border: 2px solid #ADEFD1;
	margin-top: 30px;
	font-size: 20px;
}

.storeAcc_textbox2 {
	width: 480px;
	height: 50px;
	float: left;
	border-radius: 10px;
	border: 2px solid #ADEFD1;
	margin-top: 30px;
	font-size: 20px;
}

.storeAcc_textbox1:focus, .storeAcc_textbox2:focus {
	outline: 2px solid #ADEFD1;
	border: 1px solid #ADEFD1;
	cursor: text;
}

